ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}
.item
{
    animation: changeColor 20s infinite;
    transition: all 0.5s ease-in-out;
    text-shadow: 0.1em 0.1em 0em blue, -0.1em -0.1em 0em gray;
    
}
.item>li
{
    text-shadow: 1em 1em 1em red;
}
