.counter
{
    display: flex;
     
    align-items: center;
    flex: 1 1 auto;
}
.btn
{
    outline: 2px dashed;
    border: 0;
    background-color: black;
    transition: all 0.5s;
    padding: 3px;
    margin: 2px;
    height: 70px;
    width: 75px;
    cursor: help;
    position: relative;
    left: 20px;
}

#btn2{
    position: relative;
    left: 40px;
}
.btn:hover
{
    transform: scale(1.5);
}