@font-face 
{
  font-family: minecraftFont;
  src: url(./assets/Minecraft.ttf);
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: minecraftFont;
}
body
{
  margin: 0;
  background-color: black;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

